<div class="nav-shell">
    <div class="nav-title">Waillet</div>

    <FluentNavMenu Width="250" Title="Navigation">
        <FluentNavLink Href="" Icon="@(new Icons.Regular.Size20.Home())" Match="NavLinkMatch.All">Home</FluentNavLink>
        <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbol())">Counter</FluentNavLink>
        <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.Calendar())">Weather</FluentNavLink>
    </FluentNavMenu>
</div>